<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="par6_flange">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.03291842362796 -3.9760226777652E-09 0.0314011608034117"
        rpy="0 0 0" />
      <mass
        value="0.998265338800333" />
      <inertia
        ixx="0.00118949401625524"
        ixy="-3.53594527704034E-12"
        ixz="-5.94924049151936E-05"
        iyy="0.00238159101024826"
        iyz="-6.16822652141328E-11"
        izz="0.00282485466366564" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://par6_flange/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://par6_flange/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="shoulder">
    <inertial>
      <origin
        xyz="0.00656811939881225 0.029093538967332 0.099551347543143"
        rpy="0 0 0" />
      <mass
        value="0.620900499130961" />
      <inertia
        ixx="0.00100663738746705"
        ixy="-6.26580888440265E-05"
        ixz="-5.94906456216179E-05"
        iyy="0.000546947368013689"
        iyz="-0.000133114961306643"
        izz="0.00119083362934585" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://par6_flange/meshes/shoulder.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://par6_flange/meshes/shoulder.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulder_JOINT"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="shoulder" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="upper_arm">
    <inertial>
      <origin
        xyz="-0.00854934366236464 -0.071342142449425 0.0416391335881913"
        rpy="0 0 0" />
      <mass
        value="0.564255649327409" />
      <inertia
        ixx="0.00161401505877108"
        ixy="-2.37624134871021E-05"
        ixz="-1.23771305810394E-05"
        iyy="0.000283296701166046"
        iyz="-0.000134635985563592"
        izz="0.00163917151493148" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://par6_flange/meshes/upper_arm.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://par6_flange/meshes/upper_arm.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="upper_arm_JOINT"
    type="revolute">
    <origin
      xyz="0.0234207210610365 0 0.1105"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="shoulder" />
    <child
      link="upper_arm" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="elbow">
    <inertial>
      <origin
        xyz="0.0155509885239581 -0.0191127686426632 -0.00153322577917242"
        rpy="0 0 0" />
      <mass
        value="0.550970997806044" />
      <inertia
        ixx="0.00057827573271994"
        ixy="0.000116505232322314"
        ixz="-1.19955293256511E-05"
        iyy="0.0005670116769447"
        iyz="1.5581425503602E-05"
        izz="0.000815862001506842" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://par6_flange/meshes/elbow.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://par6_flange/meshes/elbow.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elbow_JOINT"
    type="revolute">
    <origin
      xyz="0 -0.18 0"
      rpy="3.14159265358979 0 -1.5707963267949" />
    <parent
      link="upper_arm" />
    <child
      link="elbow" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="lower_arm">
    <inertial>
      <origin
        xyz="0.00052733545462913 -0.0101658497051341 -0.0925926618710992"
        rpy="0 0 0" />
      <mass
        value="0.382768168076153" />
      <inertia
        ixx="0.000383809752758758"
        ixy="-5.71777005742453E-06"
        ixz="-1.13435862343092E-06"
        iyy="0.000324613577491975"
        iyz="-6.48194702731559E-05"
        izz="0.000252488975982478" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://par6_flange/meshes/lower_arm.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://par6_flange/meshes/lower_arm.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lower_arm_JOINT"
    type="revolute">
    <origin
      xyz="0.0434999999999984 0 0"
      rpy="1.5707963267949 0 -3.14159265358979" />
    <parent
      link="elbow" />
    <child
      link="lower_arm" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wrist">
    <inertial>
      <origin
        xyz="-1.54606600299978E-06 -0.00314847566621396 0.000193929742576593"
        rpy="0 0 0" />
      <mass
        value="0.230864625594321" />
      <inertia
        ixx="0.00018082969543415"
        ixy="-4.63392548734812E-10"
        ixz="-6.79284338617314E-09"
        iyy="0.000106212288444716"
        iyz="2.87958450952461E-06"
        izz="0.000175598200731164" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://par6_flange/meshes/wrist.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://par6_flange/meshes/wrist.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wrist_JOINT"
    type="revolute">
    <origin
      xyz="0 0 -0.177000000000002"
      rpy="-1.57079632679489 0 0" />
    <parent
      link="lower_arm" />
    <child
      link="wrist" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="gripper">
    <inertial>
      <origin
        xyz="-6.28287090892465E-05 6.96476392843537E-05 -0.0490534784184994"
        rpy="0 0 0" />
      <mass
        value="0.024635742513522" />
      <inertia
        ixx="5.90242323471309E-06"
        ixy="2.35508451621105E-08"
        ixz="1.84095312865299E-08"
        iyy="6.06157538333085E-06"
        iyz="9.37735630145885E-10"
        izz="1.10660922067779E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://par6_flange/meshes/gripper.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://par6_flange/meshes/gripper.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="gripper_JOINT"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5707963267949 0 0" />
    <parent
      link="wrist" />
    <child
      link="gripper" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>